$primary: #00b4cc;

$light-grey: #f0eeee;

$shadow: 0 3px 4px 0 #223c5033;
$white: #fff;
$white-hover: #eee;

$font-size-basic: 18px;
$font-size-subtitle: 24px;
$font-size-title: 36px;

$font-color-title: #04080e;
$font-color-subtitle: #6c6c6c;
$font-color-text: #b3b4b6;

$transition: all 0.2s ease-in-out;

$border: 2px solid #00b4cc;
