$primary: #24292f;
$secondary: #fd8c73;

$light-grey: #f5f8fa;

$shadow: 0 3px 4px 0 #223c5033;
$white: #fff;
$white-hover: #f3f4f6;

$font-size-basic: 18px;
$font-size-subtitle: 24px;
$font-size-title: 36px;

$font-color-title: #24292e;
$font-color-subtitle: #57606a;
$font-color-text: #b3b4b6;
$font-color-link: #0969da;

$transition: all 0.2s ease-in-out;

$border: 1px solid rgba(27,31,36,0.15);
